<template class="shadow">
    <style><%- shadowStyle %></style>
    <div class="panel">
        <content select=".panel-header"></content>
        <content select=".panel-body"></content>
        <content select=".panel-list"></content>
        <content select=".panel-table"></content>
        <content select=".panel-footer"></content>
    </div>
</template>

<script>
    (function(window, document, undefined) {
        require("websemble").frontend.createComponent('ui-panel');
    })(window, document);
</script>